.detail-box {
  margin-top: 40px;
}

.detail-box .container {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  border-radius: 4px;
}

.detail-box .container .box-img {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
}

.detail-box .container .box-img .img-top {
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.detail-box .container .box-img .img-top img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.detail-box .container .box-img .img-info {
  overflow-x: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;

}

.detail-box .container .box-img .img-info::-webkit-scrollbar-track {
  background-color: var(--border-color-1);

}

.detail-box .container .box-img .img-info img {
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;

}

.detail-box .container .box-content {
  flex: 1;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
  max-width: 100%;
}

.detail-box .container .box-content h5 {
  font-size: var(--fnt-22px);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--font-color-5);
  width: 100%;
  margin: 0;
}

.detail-box .container .box-content h5.name:first-child {
  border-bottom: 1px solid var(--border-color-1);
  padding: 10px 0;
}

.detail-box .container .box-content p {
  font-size: var(--fnt-14px);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--font-color-2);
  margin: 0;

}

.detail-box .container .box-content .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.detail-box .container .box-content .info h6 {
  font-size: var(--fnt-15px);
  margin-bottom: 0;
  /* padding: 0 10px; */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: var(--main-color-3);
  padding: 2px 0;
}

.detail-box .container .box-content .info h6:nth-child(2) {

  padding: 2px 10px;
  border-left: 2px solid var(--main-color-2);
  border-right: 2px solid var(--main-color-2);

}

.detail-box .container .box-content .info h6 span {}

.detail-box .container .box-content .info h6 span {
  color: var(--main-color-2);
}

.detail-box .container .box-content .content-detail {
  width: 100%;
  background-color: var(--back-color-1);
  padding: 20px;
  border-radius: 4px;
}

.detail-box .container .box-content .content-detail div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  text-transform: capitalize;


}

.detail-box .container .box-content .content-detail div:nth-child(1) {

  margin-bottom: 15px;
}

.detail-box .container .box-content .content-detail div:nth-child(1) h5 {
  width: fit-content;
  font-size: var(--fnt-16px);
  margin: 0;
  color: var(--font-color-2);
  text-decoration: line-through;
  font-weight: 500;
}

.detail-box .container .box-content .content-detail div:nth-child(1) h6 {
  margin: 0;
  color: var(--font-color-5);

}

.detail-box .container .box-content .content-detail div:nth-child(2) {}

.detail-box .container .box-content .content-detail div:nth-child(2) h5 {
  width: fit-content;
  font-size: var(--fnt-25px);
  margin: 0;
  color: var(--main-color-2);
  font-weight: 500;
}

.detail-box .container .box-content .content-detail div:nth-child(2) span {
  margin: 0;
  color: var(--font-color-5);
  background-color: var(--main-color-2);
  font-size: var(--fnt-14px);
  border-radius: 4px;
  padding: 3px 15px;
  color: var(--font-color-1);
  font-weight: 500;

}





.detail-box .container .box-content .quantity {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin: 20px 0;
}

.detail-box .container .box-content .quantity h6 {


  font-size: var(--fnt-17px);
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;
}

.detail-box .container .box-content .quantity div {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid var(--border-color-1);
}

.detail-box .container .box-content .quantity div button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: var(--fnt-22px);
  font-weight: 500;
  border: none;
  border: 1px solid transparent;

}

.detail-box .container .box-content .quantity div button:nth-child(1) {}

.detail-box .container .box-content .quantity div span {
  padding: 5px 10px;
  font-size: var(--fnt-16px);
  font-weight: 500;
  border: 1px solid transparent;
  border-left-color: var(--border-color-1);
  border-right-color: var(--border-color-1);
}

.detail-box .container .box-content .button-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.detail-box .container .box-content .button-box button {
  padding: 10px 20px;
  border: 2px solid transparent;
  font-size: var(--fnt-17px);
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.detail-box .container .box-content .button-box button:nth-child(1) {
  border-color: var(--main-color-2);
  color: var(--main-color-2);
}

.detail-box .container .box-content .button-box button:nth-child(1) svg {
  border-color: var(--main-color-2);
  color: var(--main-color-2);
  margin-bottom: 2px;
  font-size: var(--fnt-20px);

}

.detail-box .container .box-content .button-box button:nth-child(2) {
  border-color: var(--main-color-2);
  background-color: var(--main-color-2);
  color: var(--font-color-1);
  transition: var(--transition);
}

/* .detail-box .container .box-content .button-box button:nth-child(2):hover {
  border-color: var(--main-color-2);
  background-color: var(--main-color-2);

} */
@media (max-width: 991px) {
  .detail-box .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

  }

  .detail-box .container .box-content .info {

    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;

  }


}

.detail-box .add-cart {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -5;
  display: none;
  opacity: 0;
  transition: var(--transition);
}

.detail-box .add-cart.active {
  z-index: 1010;
  display: flex;
  opacity: 1;
}

.detail-box .add-cart .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.574);
  height: 200px;
  width: 100%;
  max-width: 100%;

}

.detail-box .add-cart .box img {
  width: 80px;
}

.detail-box .add-cart .box h6 {
  font-size: var(--fnt-22px);
  text-transform: capitalize;
  color: var(--font-color-1);
}